
@font-face {
  font-family: 'Museo Sans';
  src:  url('../fonts/Museo Sans/MuseoSans-300.otf') format('opentype'),
        url('../fonts/Museo Sans/MuseoSans_500.otf') format('opentype'),
        url('../fonts/Museo Sans/MuseoSans_700.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:  url('../fonts/Open Sans/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/Open Sans/OpenSans-Light.ttf') format('truetype'),
        url('../fonts/Open Sans/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

