
html, body {
  margin: 0px;
  font-family: 'Open Sans', Tahoma, sans-serif;
  color: #565659;
}

.oc-body {
  *, *:before, *:after {
    box-sizing: border-box;
  }
}

.block-title {
  text-transform: uppercase;
  margin: 0px 0px 40px 0px;
  text-align: center;
}

.oc-bold {
  font-weight: bold;
}

.oc-container {
  width: 95%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.oc-clearfix {
  &:before, &:after {
    display: block;
    content: '';
    width: 0px;
    height: 0px;
    clear: both;
  }
}

a {
  color: oc-color(primary);
  text-decoration: none;

  &:hover {
    color: rgb(123, 228, 231);
  }
}

.oc-button {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid oc-color(primary);
  text-transform: uppercase;

  &.oc-dark {
    border-color: rgb(70, 177, 180);
    background-color: oc-bg-color(primary);
    color: #FFF;
  }
}

.oc-bg-light {
  background-color: oc-bg-color(light);
}

.oc-text-primary {
  color: oc-color(primary);
}
